<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>HelloAppEngine</servlet-name>
    <servlet-class>HelloAppEngine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloAppEngine</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>SetBinEmpty</display-name>
    <servlet-name>SetBinEmpty</servlet-name>
    <servlet-class>web.SetBinEmpty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetBinEmpty</servlet-name>
    <url-pattern>/SetBinEmpty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetBinFull</display-name>
    <servlet-name>SetBinFull</servlet-name>
    <servlet-class>web.SetBinFull</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetBinFull</servlet-name>
    <url-pattern>/SetBinFull</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewFullBins</display-name>
    <servlet-name>ViewFullBins</servlet-name>
    <servlet-class>mob.ViewFullBins</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewFullBins</servlet-name>
    <url-pattern>/ViewFullBins</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCollectors</display-name>
    <servlet-name>ViewCollectors</servlet-name>
    <servlet-class>mob.ViewCollectors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCollectors</servlet-name>
    <url-pattern>/ViewCollectors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBins</display-name>
    <servlet-name>ViewBins</servlet-name>
    <servlet-class>mob.ViewBins</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBins</servlet-name>
    <url-pattern>/ViewBins</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewWasteType</display-name>
    <servlet-name>ViewWasteType</servlet-name>
    <servlet-class>mob.ViewWasteType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewWasteType</servlet-name>
    <url-pattern>/ViewWasteType</url-pattern>
  </servlet-mapping>
</web-app>